<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#navbar-layout" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
      <span class="nav-link-title">
        API
      </span>
    </a>
    <div class="dropdown-menu" data-bs-popper="static">
      <div class="dropdown-menu-columns">
        <div class="dropdown-menu-column">
          <a class="dropdown-item" href="{{rooturl}}/api/libraries">
            Libraries
          </a>
          <a class="dropdown-item" href="{{rooturl}}/api/packages">
            Packages
          </a>
          <a class="dropdown-item" href="{{rooturl}}/api/classes">
            Classes
          </a>
          <a class="dropdown-item" href="{{rooturl}}/api/interfaces">
            Interfaces
          </a>
        </div>
        <div class="dropdown-menu-column">
          <a class="dropdown-item" href="{{rooturl}}/api/attributes">
            Attributes
          </a>
          <a class="dropdown-item" href="{{rooturl}}/api/elements">
            Elements
          </a>
          <a class="dropdown-item" href="{{rooturl}}/api/entities">
            Entities
          </a>
          <a class="dropdown-item" href="{{rooturl}}/api/errors">
            Errors
          </a>
          <a class="dropdown-item" href="{{rooturl}}/api/exceptions">
            Exceptions
          </a>
          <a class="dropdown-item" href="{{rooturl}}/api/factories">
            Factories
          </a>
          <a class="dropdown-item" href="{{rooturl}}/api/registries">
            Registries
          </a>
        </div>
      </div>
    </div>
  </li>